/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* Added it by myself SR*/
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* Added it by myself SR*/
a, a:visited, a:hover, a:active {
  color: inherit;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background: #ffffff;
	font: 12px 'Montserrat', Arial, sans-serif;
}
.wrapper {
	margin: 0 auto;
}
.header {
	padding: 80px 0;
	text-align: center;
}
.logo {
	width: 100px;
	height: 60px;
	display: block;
	margin: 0 auto 80px;
	padding-top:80px;
}
.logo svg {
	width: 100%;
}
.burger-menu {
	display: none;
}
.nav-list {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	line-height: 24px;
	margin: 0 auto 80px;
	width: 403px;
	text-transform: uppercase;
}
/*slick*/
.slider {
    width: 100%;
    margin: 0 auto;
}
.slick-slide {
    margin: 0px 30px 40px 30px;
}
.slick-slide img {
    width: 100%;
}
.slick-prev,
.slick-next {
    display: none !important;
}
.slick-slide {
    transition: all ease-in-out .3s;
}
main {
	width: 1024px;
	margin: 0 auto;
	padding: 0 0 100px;
}
.text-area {
	text-align: center;
	font-size: 28px;
	margin: 0 0 80px;
	padding-top: 80px;
}
.title {
	border: solid #000;
	border-width: 1px 0 1px 0;
	padding: 16px;
	font-size: 40px;
	text-transform: uppercase;
	margin: 0 0 60px;
	text-align: center;
} 
.story {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.story-column {
	width: calc(50% - 14px);
	box-sizing: border-box;				
	background: #000;
	padding: 50px;
	color: #fff;
	display: flex;
	align-items: center;
	margin: 0 0 28px;
	font-size: 18px;
	line-height: 24px;
}	
time {
	font-size: 48px;
	line-height: 59px;
}
.contact form {
	display: flex;
	flex-direction: column;
}
.contact .message-wrapper {
	display: flex;
    border: 1px solid #000000;
    flex-direction: row;
    align-items: center;
    padding: 50px 30px;
}
.contact textarea {
	border: none;
	flex-grow: 1;
	resize: none;
}
.contact button {
	padding: 13px 60px;
	text-transform: uppercase;
	border: 1px solid #000000;
	border-radius: 8px;
	background-color: #000000;
	color: #ffffff;
}
.btn-send-mob {
	display: none;
	padding: 16px 99px;
	text-transform: uppercase;
	border: 1px solid #000000;
	border-radius: 8px;
	background-color: #000000;
	color: #ffffff;
	font-size: 24px;
}
/*SLick's dots*/
.slick-dots li button {
	border: 1px solid black;
	border-radius: 50%;
}
.slick-dots li button:before {
	display: none;
}
.slick-dots li.slick-active button 
{
	background-color: #000000;
}
.modal-box {
	display: none;
}
/*media queries*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
								 {
	.burger-menu {
		float: left;
		display: block;
		padding-top: 56px;
		padding-left: 48px;
	}
	div.burger-line	{ 	
		width: 48px;
		height: 5px;
		background: #000000;
		margin-bottom: 5px;
	}
	.logo {
		width: 80px;
		height: 48px;
	}
	.nav-list {
		display: none;
	}
	.text-area{
		font-size: 20px;
		margin: 48px 100px;
	}
	main {
		width: 928px;
	}
	.title {
		font-size: 28px;
		margin-bottom: 32px;
	}
	.story {
		display: flex;
		flex-direction: column;
	}
	.story-column {
		width: 100%;
	}
	/*Modal box*/
	.modal-box{
		display: none;
		width: 100%;
		margin: 0 auto;
		background-color: #000000;
		position: fixed; 
		top: 0;
		z-index: 2; 
	} 
	.close {
		display: block;
		color: #ffffff;
		font-size: 48px;
		position: absolute;
		text-transform: uppercase;
		top:40px;
		left: 32px;
	}
	.logo-modal {
		width: 80px;
		height: 48px;
		display: block;
		margin: 0 auto 80px;
		padding-top: 48px;
		margin-bottom: 124px;
	}
	textarea.area-modal {
		background-color: #000000;
	}
	.nav-list-modal {
		display: flex;
		justify-content: space-between;
		font-size: 20px;
		margin: 0 auto 80px;
		width: 403px;
		text-transform: uppercase;
		color: #FFFFFF;
	}
	.contact-modal form {
		display: flex;
		flex-direction: column;
	}
	.contact-modal .message-wrapper-modal {
		display: flex;
	    border: 1px solid #ffffff;
	    flex-direction: row;
	    align-items: center;
	    padding: 50px 30px;
	    margin: 80px 52px 156px 52px;
	}
	.contact-modal textarea {
		border: none;
		flex-grow: 1;
		resize: none;
	}
	.btn-send-modal {
		padding: 13px 60px;
		text-transform: uppercase;
		border: 1px solid #ffffff;
		border-radius: 8px;
		background-color: #ffffff;
		color: #000000;
	}
	.btn-send-mob-modal {
		display: none;
	}
}
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
 							 { 
  	.logo {
		display: none;
	}
	.burger-menu {
		display: block;
		position: absolute;
		top: 23px;
		left: 20px;
		z-index: 1;
	}
	.burger-line {
		background: #ffffff;
		width: 48px;
		height: 5px;
		margin-bottom: 5px;
	}
	.nav-list {
		display: none;
	}
	nav {
		display: none;
	}
	.slick-slide {
    margin: 0;
	}
	main {
		display: block;
		width: 80%;
		margin: 0 auto;
	}
	.story {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.story-column {
		width: 100%;
		padding: 20px;
	}
	.text-area{
		font-size: 16px;
		margin: 24px 0;
		padding-top: 24px;
	}
	.slick-dots li button {
		width: 8px;
	    height: 8px;
	    margin-top: 24px;
	}
	.title {
		font-size: 20px;
		margin-bottom:24px;
	}
	.datetime {
		font-size: 24px;
	}
	.story-column {
		font-size: 16px;
	}
	.btn-send {
		display: none;
	}
	.contact .message-wrapper {
		margin-bottom: 19px;
	}
	.btn-send-mob {
		display: block;
		margin-bottom: 60px;
	}
	/*modal box*/
	.modal-box { 
		display: none;
		width: 100%;
		margin: 0 auto;
		background-color: #000000;
		position: fixed; 
		top: 0;
		z-index: 2; 
		height: 100vh;
	} 
	.close {
		color: #ffffff;
		font-size: 48px;
		position: absolute;
		text-transform: uppercase;
	}
	.logo-modal {
		width: 80px;
		height: 48px;
		display: block;
		margin-left: 4px;
		padding: 0 0 24px 280px;
	}
    .top-modal {
    	padding: 20px 24px;
    }
	textarea.area-modal {
		box-sizing: border-box;
		background-color: #000000;
		width: 100%;
		font-size: 18px
	}
	.nav-list-modal {
		display: flex;
		flex-direction: column;
		font-size: 20px;
		line-height: 24px;
		margin: 0 auto 42px;
		text-transform: uppercase;
		color: #FFFFFF;
	}
		.nav-list-modal>li {
		padding:0 0 48px 20px;
		}
	.contact-modal form {
		display: flex;
		flex-direction: column;
	}
	.contact-modal .message-wrapper-modal {
		display: flex;
	    border: 1px solid #ffffff;
	    flex-direction: row;
	    align-items: center;
	    padding: 50px 30px;
	    margin: 0 20px 19px 20px;
	}
	.contact-modal textarea {
		border: none;
		flex-grow: 1;
		resize: none;
		text-align: center;
	}
	.btn-send-modal {
		display: none;
	}
	.btn-send-mob-modal {
		display: block;
		background-color: #ffffff;
		text-transform: uppercase;
		border: 1px solid #ffffff;
		border-radius: 8px;
		height: 60px;
		color: #000000;
		text-align: center;
		margin: 0px 20px;
	}

